** List Comprehension **
- List Comprehension is used to create lists in single line of code

In [3]:
#example
for i in range(10):
    print(i, end=' ')
    #What if I don't want to print the answer here, instead I want to store the answers.

0 1 2 3 4 5 6 7 8 9

In [9]:
#What if I don't want to print the answer here, instead I want to store the answers. 
l=[]
for i in range(10):
    l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
### METHID-1 only for loop
## What is the output we are saving **i**
## how our loop link look: ** for i in range(10)**
## what is the variable name of the list **l**
## syntax: list = [output for loop]
#####LIST Comprehencsion way doing the same is below example
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
## example1
## wap : save the list of square number of 1 to 6 
for i in range(1,6):
    print("Print only i",i)
print("###############")

#############
for i in range(1,6):
    print("print Square of i",i*i)
print("###############")
print("save the result in Sq_list")
sq_list=[]
for i in range(1,6):
    sq_list.append(i*i)
print("sq_list DEFAULT WAY: >>>",sq_list)
print("###############")
print("### NOW DO THIS IN LIST COMPREHENSION ###")
sq_list=[i*i for i in range(1,6)]
sq_list
print("sq_list LC WAY :>>>", sq_list)

Print only i 1
Print only i 2
Print only i 3
Print only i 4
Print only i 5
###############
print Square of i 1
print Square of i 4
print Square of i 9
print Square of i 16
print Square of i 25
###############
save the result in Sq_list
sq_list DEFAULT WAY: >>> [1, 4, 9, 16, 25]
###############
### NOW DO THIS IN LIST COMPREHENSION ###
sq_list LC WAY :>>> [1, 4, 9, 16, 25]

In [107]:
###TEST1
#i/p l=['hyd','mumbai','pune']
l=['hyd','mumbai','pune']
for i in l:
    print(i.capitalize())
print("###############")
print("### NOW DO THIS IN LIST COMPREHENSION ###")
lc=['hyd','mumbai','pune',"chennai"]
#lC=[str(lC).title() for i in lC]
lc=[i.capitalize() for i in lc]
print("Via List comprehension :", lc)

Hyd
Mumbai
Pune
###############
### NOW DO THIS IN LIST COMPREHENSION ###
Via List comprehension : ['Hyd', 'Mumbai', 'Pune', 'Chennai']

In [109]:
###TEST
#i/p l=['hyd','mumbai','pune']
l=['hyd','mumbai','pune']
for i in l:
    print(i.upper())
print("###############")
print("### NOW DO THIS IN LIST COMPREHENSION ###")
lc=['hyd','mumbai','pune',"chennai"]
#lC=[str(lC).title() for i in lC]
lc=[i.upper() for i in lc]
print("Via List comprehension :", lc)

HYD
MUMBAI
PUNE
###############
### NOW DO THIS IN LIST COMPREHENSION ###
Via List comprehension : ['HYD', 'MUMBAI', 'PUNE', 'CHENNAI']

In [157]:
###TEST
#i/p l=['hyd','mumbai','pune']
l=['hyd','mumbai','pune']
for i in l:
    out=(l.index(i))
    print(out)
print("###############")
print("### NOW DO THIS IN LIST COMPREHENSION ###")
lc=['hyd','mumbai','pune',"chennai"]
#lC=[str(lC).title() for i in lC]
out=[lc.index(i) * 10 for i in lc]
print("Giving only the list index's =",out)

0
1
2
###############
### NOW DO THIS IN LIST COMPREHENSION ###
Giving only the list index's = [0, 10, 20, 30]

In [151]:
###TEST
#i/p l=['hyd','mumbai','pune']
l=['hyd','mumbai','pune']
for i in l:
    out=(l.index(i))
    print(out)
print("###############")
print("### NOW DO THIS IN LIST COMPREHENSION ###")
lc=['hyd','mumbai','pune',"chennai"]
#lC=[str(lC).title() for i in lC]
out=[lc.index(i) * 10 for i in lc]
print("Sum of index =",sum(out))

0
1
2
###############
### NOW DO THIS IN LIST COMPREHENSION ###
Sum of index = 60

In [159]:
l=['hyd', "CHEN#nai, pu#ne, banga#lore"]

In [191]:
out=[]
for i in l:
    if '#' in i:
        out.append(i)
print("Only the letter with #", out)

Only the letter with # ['CHEN#nai, pu#ne, banga#lore']

In [193]:
# syntax:
#list=[<write your output> <forloop> <if condition>]
# Do not include colone(:)

In [195]:
l=['hyd', "CHEN#nai, pu#ne, banga#lore"]
out=[i for i in l if '#' in i]
out

['CHEN#nai, pu#ne, banga#lore']

In [267]:
l=['hyd', "CHEN#nai", "banga#lore"]
for i in l:
    #print(i)
    #print(len(i))
    if len(i) > 4:
        print(i)
###############
### NOW DO THIS IN LIST COMPREHENSION ###   
out=[d for d in l if len(d) > 4]

CHEN#nai
banga#lore

# Three different type

In [271]:
# M1: [<output> <forloop>]
# M2: [<output> <forloop> <if condition>]
# M3: [<if output> <if condition> else <else output> <for loop>]
# M4: [<if output> <if condition> else <elsif output> <elif condition> else <else output>
#           <for loop>]
#M5 using function

In [309]:
import random
even_list, odd_list=[],[]
for i in range(0,11):
    num=random.randint(1,100)
    #even_list.append(num)
    if num%2==0:
        even_list.append(f"even num: {num}")
    else:
        odd_list.append(f"odd num: {num}")
even_list,odd_list

(['even num: 38', 'even num: 80', 'even num: 2'],
 ['odd num: 53',
  'odd num: 73',
  'odd num: 29',
  'odd num: 29',
  'odd num: 57',
  'odd num: 17',
  'odd num: 87',
  'odd num: 69'])

In [17]:
import random
## M3: [<if output> <if condition> else <else output> <for loop>]
even_odd_list=[f"even num: {num}" if num%2==0 else f"odd num: {num}" for num in [random.randint(1,100) for i in range(1,10)]]
even_odd_list

['even num: 56',
 'odd num: 97',
 'odd num: 27',
 'odd num: 21',
 'even num: 60',
 'odd num: 89',
 'even num: 88',
 'odd num: 17',
 'even num: 92']

In [35]:
## example
random_num=[random.randint(10, 1000) for i in range(0,11)]
random_num

[868, 949, 227, 405, 549, 161, 190, 464, 909, 369, 340]

In [41]:
#M4
#example1
num=[-2,-1,0,1,2]
out=[]
for i in num:
    if i>0:
        print('Postive')
    elif i<0:
        print('negative')
    else:
        print('zero')

negative
negative
zero
Postive
Postive

In [51]:
#M4
#example2
num=[-2,-1,0,1,2]
out=[]
for i in num:
    if i>0:
        out.append('Postive')
    elif i<0:
        out.append('negative')
    else:
        out.append('zero')
out #This is important here without print output as list.

['negative', 'negative', 'zero', 'Postive', 'Postive']

In [57]:
['Postive' if i>0 else 'negative' if i<0 else 'zero' for i in num]

['negative', 'negative', 'zero', 'Postive', 'Postive']

In [63]:
#method 5 Using Functions
###################################
#def square(x):
#    print(x*x)
#square(10)
###################################
#[square(i) for i in range(1,10)] ##>>List comprehension
#for i in range(1,10):
#    square(i)

1
4
9
16
25
36
49
64
81

In [65]:
#M5: example1
for i in range(1,10):
    square(i)

1
4
9
16
25
36
49
64
81

In [69]:
#m5: example2
def square(x):
    print(x*x)
square(10)

100

In [71]:
#Method5 List Comprehenstion
[square(i) for i in range(1,10)] ##>>List comprehension

1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None]