- Strings
- Lists
- Dictionary
- Tuple and Set

In [8]:
#befor dictionary some examples0
Names=['Ramesh','Suresh','Mahesh']
age=[20,21,22]
#I want to print Ramesh Age is 21
for i in range(len(Names)):
    print(f"{Names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 21
Mahesh age is 22

In [14]:
#befor dictionary some examples1
Names=['Ramesh','Suresh','Mahesh']
age=[20,21,22]
city=['hyd','blr','pune']
#I want to print Ramesh Age is 21
for i,j,k in zip(Names,age,city):
    print(f"Name {i} Age is {j}, City from {k}")

Name Ramesh Age is 20, City from hyd
Name Suresh Age is 21, City from blr
Name Mahesh Age is 22, City from pune

# Dictionary will give some relation between two values
## it is called a key : value pair
### {key:value}
### latest value will consider
### keys are important
### Values can be duplicate but keys can not be duplicate
- **Keys are very very important**
 
- keys can not be duplicate
 
- if keys are duplicate it will consider the latest value
 
- Values can be duplicates
 
- Values can be any data type
 
- But keys can not be list type
 
    - list is mutable
 
- Keys can be represmt as tuple
 
    - because tuple is immutable in nature

In [28]:
d1={'Ramesh':20,'Suresh':21,'Mahesh':22}
d1

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22}

In [32]:
d2={'Ramesh':True,'Suresh':True,'Mahesh':True,'':True}
d2

{'Ramesh': True, 'Suresh': True, 'Mahesh': True, '': True}

In [38]:
d3={'Ramesh':'Hi','Suresh':'Bye','Mahesh':'Mai','':'toy'}
d3

{'Ramesh': 'Hi', 'Suresh': 'Bye', 'Mahesh': 'Mai', '': 'toy'}

In [42]:
d4={'Ramesh':'0,1','Suresh':'Bye','Mahesh':'Mai','':'toy'}
d4

{'Ramesh': '0,1', 'Suresh': 'Bye', 'Mahesh': 'Mai', '': 'toy'}

In [46]:
#DUP KEY
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','':'toy'}
d4

{'Ramesh': 'Bye', 'Mahesh': 'Mai', '': 'toy'}

In [50]:
d5={'Fruites':['Apple','Banana']}
d5

{'Fruites': ['Apple', 'Banana']}

In [54]:
#not possible reverse
#d5={['Key1','Key2']:'value':}
d5={['Apple','Banana']:'Fruites'}

TypeError: unhashable type: 'list'

In [57]:
len(d1)

3

In [59]:
max(d2)

'Suresh'

In [61]:
min(d2)

''

In [63]:
sorted(d2)

['', 'Mahesh', 'Ramesh', 'Suresh']

In [67]:
list(reversed(d2))

['', 'Mahesh', 'Suresh', 'Ramesh']

In [77]:
#Sorted will give error if the values are in different type
#example
#TypeError: '<' not supported between instances of 'int' and 'str'
err_dict={"Name":21,1:"rank"}
sorted(err_dict)

TypeError: '<' not supported between instances of 'int' and 'str'

In [81]:
#example only keys will be printed
for i in d1:
    print(i)

Ramesh
Suresh
Mahesh

In [85]:
## how to access the value using the keys
d1["Ramesh"]

20

In [93]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}

In [97]:
for key in d4:
    value=d4[key]
    print(key,value)

Ramesh Bye
Mahesh Mai
dai toy

In [103]:
#befor dictionary some examples1
Names=['Ramesh','Suresh','Mahesh']
age=[20,21,22]
city=['hyd','blr','pune']
#I want to print Ramesh Age is 21
for i,j,k in zip(Names,age,city):
    print(f"Name {i} Age is {j}, City from {k}")
#befor dictionary some examples0
Names=['Ramesh','Suresh','Mahesh']
age=[20,21,22]
#I want to print Ramesh Age is 21
for i in range(len(Names)):
    print(f"{Names[i]} age is {age[i]}")
###############################################################
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
for key in d4:
    value=d4[key]
    print(key,value)

Name Ramesh Age is 20, City from hyd
Name Suresh Age is 21, City from blr
Name Mahesh Age is 22, City from pune
Ramesh age is 20
Suresh age is 21
Mahesh age is 22
Ramesh Bye
Mahesh Mai
dai toy

In [119]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d4['Ramesh']="Sai"
for key in d4:
    value=d4[key]
    print(key,value)

Ramesh Sai
Mahesh Mai
dai toy

In [123]:
s='' #empty srting
l=[] #empty list
d={} #empty dict

In [131]:
## how to create a Dictionary using List
Names=['Ramesh','Suresh','Mahesh']
age=[20,21,22]
d={}
for keys,values in zip(Names,age):
    d[keys]=values
d

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22}

In [141]:
## Access the Dirctionary
d5={'Fruites':['Apple','Banana']}
d5['Fruites']

['Apple', 'Banana']

In [143]:
d5={'Fruites':{'Apple':'kashmir'}}
d5['Fruites']['Apple']

'kashmir'

In [153]:
d5={'Fruites':['Apple','kashmir']}
d5['Fruites'][1]

'kashmir'

In [161]:
d5={'Fruites':[{'Apple':'kashmir'}]}
d5['Fruites'][0]['Apple']

'kashmir'

In [167]:
##Methods
# dir('') Dir of empty string
# dir([]) Dir of empty list
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [171]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d4.items()

dict_items([('Ramesh', 'Bye'), ('Mahesh', 'Mai'), ('dai', 'toy')])

In [173]:
d4.keys()

dict_keys(['Ramesh', 'Mahesh', 'dai'])

In [183]:
d4.values()
##note the output is not list. we need to run into loops

dict_values(['Bye', 'Mai', 'toy'])

In [185]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
list[d4.items()]
## FOr list output

list[dict_items([('Ramesh', 'Bye'), ('Mahesh', 'Mai'), ('dai', 'toy')])]

In [189]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
list[d4.keys()]
## FOr list output

list[dict_keys(['Ramesh', 'Mahesh', 'dai'])]

In [191]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
list[d4.values()]
## FOr list output

list[dict_values(['Bye', 'Mai', 'toy'])]

In [201]:
## Key using the loops
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d={}
for keys,values in d4.items():
    print(keys,values)
d

Ramesh Bye
Mahesh Mai
dai toy

{}

In [203]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d={}
for i in d4.keys():
    print(i)
d

Ramesh
Mahesh
dai

{}

In [205]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d={}
for i in d4.values():
    print(i)
d

Bye
Mai
toy

{}

In [207]:
d4={'Ramesh':'0,1','Ramesh':'Bye','Mahesh':'Mai','dai':'toy'}
d={}
for i in d4.items():
    print(i)
d

('Ramesh', 'Bye')
('Mahesh', 'Mai')
('dai', 'toy')

{}

In [209]:
d4.update(d5)

In [211]:
d4

{'Ramesh': 'Bye',
 'Mahesh': 'Mai',
 'dai': 'toy',
 'Fruites': [{'Apple': 'kashmir'}]}

In [213]:
d5.update(d4)

In [215]:
d5

{'Fruites': [{'Apple': 'kashmir'}],
 'Ramesh': 'Bye',
 'Mahesh': 'Mai',
 'dai': 'toy'}

In [225]:
#Set Default example
# Set default will only works for new entry as default. 
# It will not update the existing key's value
d1.setdefault("SetDefault",30)

30

In [221]:
d1

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22, 'SetDefault': 30}

In [237]:
###Exampel of FROMKEYS IF ONLY KEY PRESEnt NONE will return
keys=['Name', 'Age', 'City']
dict.fromkeys(keys)

{'Name': None, 'Age': None, 'City': None}

In [243]:
#if we have key and set single value for all
keys=['Name', 'Age', 'City']
dict.fromkeys(keys, "stringvalueFORall")

{'Name': 'stringvalueFORall',
 'Age': 'stringvalueFORall',
 'City': 'stringvalueFORall'}