Type Cast

In [11]:
#Int to float
#int to str
#int to bool
num=100
float(num)

100.0

In [13]:
float(num),str(num),bool(num)

(100.0, '100', True)

In [17]:
num1=0
float(num1),str(num1),bool(num1)

(0.0, '0', False)

In [19]:
num2=-1
float(num2),str(num2),bool(num2)

(-1.0, '-1', True)

In [23]:
num3=100.5
float(num3),str(num3),bool(num3),int(num3)

(100.5, '100.5', True, 100)

In [25]:
bool(0.0)

False

In [27]:
bool(0.5)

True

In [31]:
str_val='10'
float(str_val),int(str_val),bool(str_val)

(10.0, 10, True)

In [33]:
int('10.5'),float(10.5),book(10.5)
#We can not convert string represntation of float num to integer.
int(10.5),float(10.5),book(10.5)

ValueError: invalid literal for int() with base 10: '10.5'

#**eval**
- evaluate
- It take the string represntation of number
- And it converts into interger and float type.

In [41]:
eval('10.5'),eval('10')

(10.5, 10)

In [47]:
n1=eval('10')
n1
float(n1)

10.0

In [49]:
n1=eval('10')
n1
int(n1)

10

In [51]:
n1=eval('10')
n1
str(n1)

'10'

In [53]:
n1=eval('10')
n1
bool(n1)

True

In [73]:
#int('apple') this will through error
#float('apple') this will through error
bool(''),  
bool(' '),bool('10'),bool('apple'),bool(10),bool( ),bool( )

(True, True, True, True, False, False)

In [75]:
len(''), len(' '),len('   ')

(0, 1, 3)

In [77]:
#Use the input function

In [79]:
input

In [81]:
print

In [87]:
len

In [89]:
name=input("Enter your name:")

Enter your name: gopi

In [99]:
name=input("Enter your name:")
age=input("Enter your age:")
country=input("Enter your country:")
print(f"my name is {name}, I am {age}, year old, comming from {country}")

Enter your name: g
Enter your age: g
Enter your country: g

my name is g, I am g, year old, comming from g

In [113]:
name=input("Enter your name:")
age=input("Enter your age:")
country=input("Enter your country:")
#print('my name is {}, I am {}, year old, comming from {}'.format(name,age,country)

SyntaxError: incomplete input (1087512671.py, line 4)

In [115]:
num1=input("enter num1:") # num1='100'
num2=input("enter num2:") # num2='200'
num1+num2 # '100'+'200'='100200'

enter num1: 100
enter num2: 10

'10010'

In [123]:
num1=input("enter num1:") # num1='100'
num2=input("enter num2:") # num2='200'
eval(num1)+eval(num2) # '100'+'200'='100200'

enter num1: 3
enter num2: 3

6

In [129]:
num1=eval(input("enter num1:")) # num1='100'
num2=eval(input("enter num2:")) # num2='200'
num1+num2# '100'+'200'='100200'

enter num1: 3
enter num2: 3

6

# WAP ASK the user enter three numbers using input
# n1=input("en")
# n2 = similar
# n3= similar
# calculate the average 
# the avg of n1 ,n2 and n3 is ans
 
# WAP ask the user enter breadth and height calculate Right angle area of trainagle
# formulae= 1/2*b*h
 
# WAP ask the user enter a radius , calculate area of circle
# pi=3.14
# area= pi*r*r
 
# WAP ask the user enter 
# a bill amount
# tax on bill amount
# calculate total bill

In [132]:
n1=eval(input("enter first number"))

enter first number 3

In [148]:
n1=eval(input("enter first number"))
n2=eval(input("enter Second number"))
n3=eval(input("enter Third number"))
add=(n1+n2+n3)
avg=add/3
print(f"The average of n1 and n2 and n3 is {avg}")

enter first number 3
enter Second number 3
enter Third number 3

The average of n1 and n2 and n3 is 3.0

In [150]:
n1=eval(input("enter number1:"))
n2=eval(input("enter number2:"))
n3=eval(input("enter number3:"))
add=n1+n2+n3
avg=round(add/3,2)  
print(f"the average of {n1},{n2} and {n3} is :{avg}")

enter number1: 33
enter number2: 33
enter number3: 5

the average of 33,33 and 5 is :23.67

In [152]:
# WAP ask the user enter a radius , calculate area of circle
# pi=3.14
# area= pi*r*r
r=eval(input("enter the radius"))
pi=3.14
area=pi*r*r
print(f"the area of cicle is {area}")

enter the radius 33

the area of cicle is 3419.46

In [154]:
2*2,   # Direct multiplication
2**2,  # 2 power 2
2**3   # 2 power 3
10**2  # 10 power 2

100

In [156]:
r=eval(input("enter the radius:"))

pi=3.14

area=pi*r**2   # area=pi*r*r

print(f"The area of circle is: {area}")

enter the radius: 33

The area of circle is: 3419.46